$basicRed: #f10215;
#header .wrap {
  height: 140px;
  position: relative;
  .logo {
    position: absolute;
    top: -31px;
    left: 0;
    a {
      display: block;
      background-image: url('../images/sprite-head.png');
      box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
    }
  }
  .logo,
  .logo a {
    width: 190px;
    height: 170px;
  }
  .search {
    .search-bar {
      position: relative;
      z-index: 1;
      height: 60px;
      .search-logo {
        display: none;
        a {
          position: absolute;
          display: block;
          background-image: url('../images/sprite-head.png');
          background-position: 125px 0;
        }
      }
      .search-logo,
      .search-logo a {
        width: 125px;
        height: 40px;
      }
      .search-form {
        left: 320px;
        position: absolute;
        top: 25px;
        width: 550px;
        height: 35px;
        .search-input {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 4px 44px 4px 4px;
          width: 450px;
          height: 25px;
          font-size: 14px;
          border: 1px solid transparent;
          line-height: 25px;
          color: #989898;
        }
        .search-camera {
          background: url(../images/sprite-photo-search.png) no-repeat;
          width: 19px;
          height: 15px;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 65px;
        }
        button {
          width: 50px;
          height: 35px;
          line-height: 35px;
          border: none;
          background-color: $basicRed;
          font: {
            size: 20px;
            weight: 700;
          }
          color: #fff;
          position: absolute;
          right: 0px;
        }
      }
    }
  }
  .search-fix {
    background-color: #fcc;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    z-index: 100;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    animation: fadeInDown .6s ease-in-out;
    .search-bar {
      width: 1190px;
      margin: 0 auto;
      .search-logo {
        position: absolute;
        top: 4px;
        left: 0px;
        display: block;
      }
      .search-form {
        position: absolute;
        left: 320px;
        top: 6px;
        width: 550px;
        height: 35px;
        .search-input {
          border-color: #efefef;
          background-color: #efefef;
        }
      }
    }
  }
  .shopping-cart {
    position: absolute;
    right: 99px;
    top: 25px;
    .shopping-cart-content {
      position: relative;
      width: 188px;
      height: 33px;
      color: $basicRed;
      background-color: #fff;
      text-align: center;
      line-height: 33px;
      border: 1px solid #e3e4e5;
      .shopping-count {
        position: absolute;
        left: 140px;
        top: 5px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-radius: 50%;
        background-color: $basicRed;
        color: #fff;
        display: inline-block;
        font-style: normal;
      }
      a {
        color: $basicRed;
      }
    }
  }
  .hotwords {
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    ul li {
      display: inline-block;
      margin-right: 8px;
      a {
        color: #999;
        &:hover {
          color: #c81623;
        }
      }
    }
    .first-hotword {
      color: $basicRed;
    }
  }
  .nav-items {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
    ul li {
      margin-left: 30px;
      a {
        position: relative;
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        &:hover {
          color: #c81623;
        }
      }
    }
  }
  .nav-items .nav-spacer {
    margin: {
      top: 15px;
      left: 20px;
      right: -10px;
    }
    width: 1px;
    height: 10px;
    background-color: #ccc;
  }
  .nav-items,
  .nav-spacer,
  .nav-items li,
  .nav-items ul {
    float: left;
  }
}