.flash-deals {
  margin-bottom: 30px;
  height: 275px;
}

.flash-deals .wrap {
  margin: 0 auto;
  width: 1190px;
}

.flash-deals .wrap .left {
  position: relative;
  float: left;
  width: 190px;
  height: 275px;
  background-color: #e83632;
  color: #fff;
}

.flash-deals .wrap .left a {
  display: block;
  width: 100%;
  height: 100%;
}

.flash-deals .wrap .left a .fd-title {
  position: absolute;
  top: 42px;
  font-size: 34px;
  width: 100%;
  color: #fff;
  text-align: center;
  left: 0;
}

.flash-deals .wrap .left a .fd-subtitle {
  position: absolute;
  top: 90px;
  font-size: 20px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  left: 0;
}

.flash-deals .wrap .left a .flash {
  background-image: url("../images/sprite-flash.png");
  background-position: -35px -25px;
  position: absolute;
  left: 86px;
  top: 126px;
  display: block;
  width: 20px;
  height: 33px;
}

.flash-deals .wrap .left a .fd-describe {
  width: 100%;
  position: absolute;
  top: 170px;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.flash-deals .wrap .left a .fd-deadline {
  position: absolute;
  top: 212px;
  left: 30px;
  height: 40px;
}

.flash-deals .wrap .left a .fd-deadline .dl-hour,
.flash-deals .wrap .left a .fd-deadline .dl-minute,
.flash-deals .wrap .left a .fd-deadline .dl-second {
  width: 40px;
  height: 40px;
  background-color: #2f3430;
  text-align: center;
  margin-right: 5px;
  float: left;
  position: relative;
}

.flash-deals .wrap .left a .fd-deadline .dl-item .dl-number {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
}

.flash-deals .wrap .left a .fd-deadline .dl-item::before {
  display: block;
  content: '';
  height: 1px;
  background-color: #e83632;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.flash-deals .wrap .center {
  float: left;
  position: relative;
  width: 799px;
  border-right: 1px solid #f0f0f0;
  height: 275px;
  overflow: hidden;
}

.flash-deals .wrap .center .center-inner {
  width: 4000px;
  position: absolute;
  height: 275px;
}

.flash-deals .wrap .center .center-inner .goods-item {
  width: 200px;
  float: left;
}

.flash-deals .wrap .center .center-inner .goods-item a {
  height: 275px;
  width: 199px;
  display: block;
  position: relative;
  background-color: #fff;
}

.flash-deals .wrap .center .center-inner .goods-item a .goods-img {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 40px;
}

.flash-deals .wrap .center .center-inner .goods-item a .goods-desc {
  position: absolute;
  top: 190px;
  left: 0;
  width: 160px;
  padding: 0 15px;
  line-height: 30px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flash-deals .wrap .center .center-inner .goods-item a .goods-price {
  position: absolute;
  top: 230px;
  left: 15px;
  width: 160px;
  height: 20px;
  padding: 1px;
  background: #e6382f;
  line-height: 20px;
}

.flash-deals .wrap .center .center-inner .goods-item a .goods-price .discounted-price {
  float: left;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.flash-deals .wrap .center .center-inner .goods-item a .goods-price .original-price {
  float: left;
  width: 80px;
  height: 20px;
  background: #fff;
  text-align: center;
  color: #b7bcb8;
  font-size: 12px;
  text-decoration: line-through;
}

.flash-deals .wrap .center .fd-arrow {
  position: absolute;
  top: 110px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.flash-deals .wrap .center .fd-arrow-left {
  left: 0;
}

.flash-deals .wrap .center .fd-arrow-right {
  right: 0;
}

.flash-deals .wrap .right {
  float: left;
  width: 180px;
  height: 260px;
  padding: 8px 10px 7px 10px;
  background-color: #fff;
}

.flash-deals .wrap .right .right-wrap {
  overflow: hidden;
  float: left;
  width: 180px;
  height: 260px;
  position: relative;
}

.flash-deals .wrap .right .right-wrap .right-inner {
  position: absolute;
  width: 360px;
  height: 260px;
}

.flash-deals .wrap .right .right-wrap .right-inner img {
  float: left;
  width: 180px;
  height: 260px;
}

.flash-deals .wrap .right .right-wrap .fd-r-buttons {
  position: absolute;
  left: 43%;
  bottom: 5px;
  text-align: center;
}

.flash-deals .wrap .right .right-wrap .fd-r-buttons .fd-r-button {
  display: inline-block;
  background: #c0c0c0;
  width: 6px;
  height: 6px;
  margin: 4px;
  border-radius: 50%;
}

.flash-deals .wrap .right .right-wrap .fd-r-buttons .fd-current-img {
  background-color: #e33333;
}
