#navigation {
  height: 480px;
  margin-bottom: 30px;
}

#navigation .wrap {
  position: relative;
  height: 480px;
  /* goods-menu */
  /* swiper */
  /* discounted-goods */
  /* navigation-bbs */
}

#navigation .wrap .goods-menu {
  float: left;
  height: 480px;
  width: 190px;
  margin-right: 10px;
  background-color: #fff;
  position: relative;
}

#navigation .wrap .goods-menu ul {
  padding: 15px 0;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
}

#navigation .wrap .goods-menu ul .goods-menu-item {
  padding-left: 14px;
  height: 28px;
  line-height: 28px;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

#navigation .wrap .goods-menu ul .goods-menu-item:hover {
  background-color: #c81623;
}

#navigation .wrap .goods-menu ul .goods-menu-item a {
  font-size: 14px;
  color: #626262;
}

#navigation .wrap .goods-menu .menu-panels {
  display: none;
  position: absolute;
  top: 0;
  left: 2px;
  width: 1000px;
  height: 480px;
  background-color: #fff;
  margin-left: 190px;
  z-index: 100;
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: top .25s ease;
  -o-transition: top .25s ease;
  transition: top .25s ease;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel {
  width: 1000px;
  height: 480px;
  background-color: #fff;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner {
  padding: 20px 0 10px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left {
  float: left;
  width: 800px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_nav {
  padding-left: 20px;
  height: 24px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_nav .panel_nav_item {
  float: left;
  margin-right: 10px;
  padding: 0 10px;
  height: 24px;
  background-color: #333;
  line-height: 24px;
  color: #fff !important;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_nav .panel_nav_item:hover {
  background-color: #5c5251;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_detail {
  padding: 10px 0 0 20px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_detail .panel_detail_item {
  position: relative;
  padding-left: 80px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_detail .panel_detail_item a {
  font-size: 12px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_detail .panel_detail_item .panel_detail_tit {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 2px;
  width: 70px;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_detail .panel_detail_item .panel_detail_con {
  overflow: hidden;
  padding: 5px 0;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_left .panel_detail .panel_detail_item .panel_detail_con a {
  float: left;
  margin: 3px 0;
  padding: 0 10px;
  height: 16px;
  border-left: 1px solid #e0e0e0;
  line-height: 16px;
  white-space: nowrap;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right {
  float: left;
  width: 198px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right .pamel_right_brand {
  margin: auto;
  width: 168px;
  font-size: 0;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right .pamel_right_brand a {
  display: inline-block;
  width: 83px;
  height: 35px;
  margin: 0 0 1px 1px;
  background-color: #e7e7e7;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right .panel_right_prompt {
  margin: 10px auto 0;
  width: 168px;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right .panel_right_prompt a {
  display: block;
  margin-bottom: 1px;
  height: 134px;
  background-color: #e7e7e7;
}

#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right .panel_right_brand a img,
#navigation .wrap .goods-menu .menu-panels .menu-panel .panel_inner .panel_right .panel_right_prompt a img {
  vertical-align: middle;
}

#navigation .wrap .navigation-swiper {
  width: 590px;
  height: 470px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

#navigation .wrap .navigation-swiper .swiper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#navigation .wrap .navigation-swiper .swiper-container .swiper-wrapper {
  position: absolute;
  width: 4720px;
  height: 470px;
}

#navigation .wrap .navigation-swiper .swiper-container .swiper-wrapper img {
  width: 590px;
  height: 470px;
  float: left;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

#navigation .wrap .navigation-swiper .swiper-container .arrow {
  position: absolute;
  top: 45%;
  width: 24px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  z-index: 10;
}

#navigation .wrap .navigation-swiper .swiper-container .arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#navigation .wrap .navigation-swiper .swiper-container .arrow-left {
  left: 0;
}

#navigation .wrap .navigation-swiper .swiper-container .arrow-right {
  left: 566px;
}

#navigation .wrap .navigation-swiper .swiper-container .sw-buttons {
  position: absolute;
  left: 46px;
  bottom: 20px;
}

#navigation .wrap .navigation-swiper .swiper-container .sw-buttons .sw-button,
#navigation .wrap .navigation-swiper .swiper-container .sw-buttons .button-chose {
  display: inline-block;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#navigation .wrap .navigation-swiper .swiper-container .sw-buttons .sw-button:after,
#navigation .wrap .navigation-swiper .swiper-container .sw-buttons .button-chose:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#navigation .wrap .navigation-swiper .swiper-container .sw-buttons .button-chose {
  width: 10px;
  height: 10px;
  position: relative;
  top: 3px;
  border: 4px solid rgba(255, 255, 255, 0.2);
}

#navigation .wrap .navigation-swiper .swiper-container .sw-buttons .button-chose:after {
  background-color: #fff;
}

#navigation .wrap .discounted-goods-images {
  float: left;
  width: 190px;
  height: 470px;
  margin-right: 10px;
}

#navigation .wrap .discounted-goods-images .discounted-good {
  width: 190px;
  height: 150px;
  margin-top: 10px;
}

#navigation .wrap .discounted-goods-images .discounted-good a {
  width: 190px;
  height: 150px;
  display: block;
}

#navigation .wrap .navigation-bbs {
  width: 190px;
  height: 480px;
  float: left;
}

#navigation .wrap .navigation-bbs .user {
  height: 150px;
  background: #fff;
  margin-top: 10px;
  text-align: center;
}

#navigation .wrap .navigation-bbs .user .user-inner {
  position: relative;
  padding-top: 62px;
  height: 78px;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-avatar {
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -32.5px;
  width: 65px;
  height: 65px;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-avatar a {
  -webkit-box-shadow: 3px 6px 25px #c3c3c3;
          box-shadow: 3px 6px 25px #c3c3c3;
  border: 5px solid #e3e1df;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-avatar a img {
  border: 0;
  vertical-align: middle;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-avatar a,
#navigation .wrap .navigation-bbs .user .user-inner .user-avatar a img {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-status {
  line-height: 20px;
  color: #888;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-status a:hover {
  color: #e33333;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-profit {
  margin-top: 10px;
  height: 25px;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-profit .PLUS-member,
#navigation .wrap .navigation-bbs .user .user-inner .user-profit .fish-profit {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-radius: 13px;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -o-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
  -webkit-box-shadow: 6px 8px 20px rgba(45, 45, 45, 0.15);
          box-shadow: 6px 8px 20px rgba(45, 45, 45, 0.15);
}

#navigation .wrap .navigation-bbs .user .user-inner .user-profit .PLUS-member:hover,
#navigation .wrap .navigation-bbs .user .user-inner .user-profit .fish-profit:hover {
  background-color: #e43f3b;
  color: #fff;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-profit .PLUS-member {
  background-color: #363634;
  color: #e5d790;
}

#navigation .wrap .navigation-bbs .user .user-inner .user-profit .fish-profit {
  color: #e43f3b;
}

#navigation .wrap .navigation-bbs .news {
  height: 130px;
  background-color: #fff;
}

#navigation .wrap .navigation-bbs .news .news-tab-head {
  padding: 8px 0 0;
  position: relative;
  line-height: 13px;
  font-size: 0;
}

#navigation .wrap .navigation-bbs .news .news-tab-head .tab-item {
  font-size: 12px;
  color: #333;
  padding-right: 15px;
  padding-left: 15px;
}

#navigation .wrap .navigation-bbs .news .news-tab-head .discount-tab {
  border-right: 1px solid #dfe0e1;
}

#navigation .wrap .navigation-bbs .news .news-tab-head .more-news {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 12px;
}

#navigation .wrap .navigation-bbs .news .news-tab-head .more-news:hover {
  color: #e33333;
}

#navigation .wrap .navigation-bbs .news .news-tab-head .tab-chose {
  height: 2px;
  width: 28px;
  background-color: #e33333;
  position: absolute;
  top: 25px;
  left: 13px;
  transition: -webkit-transform .3s ease, transform .3s ease;
}

#navigation .wrap .navigation-bbs .news .news-tab-content {
  position: relative;
  padding-top: 8px;
  margin: 0 15px;
  height: 88px;
}

#navigation .wrap .navigation-bbs .news .news-tab-content .news-items li {
  line-height: 22px;
  max-width: 160px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

#navigation .wrap .navigation-bbs .news .news-tab-content .news-items li a:hover {
  color: #c81623;
}

#navigation .wrap .navigation-bbs .news .news-tab-content .notice-content {
  display: none;
}

#navigation .wrap .navigation-bbs .service {
  height: 190px;
  position: relative;
  background-color: #fff;
}

#navigation .wrap .navigation-bbs .service .service_entry {
  overflow: hidden;
  padding: 10px 11px 11px;
  border-top: 1px solid #eee;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list {
  display: inline-block;
  height: 165px;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_item {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_item a:hover {
  color: #c81623;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_item .iconfont {
  display: block;
  width: 30px;
  height: 30px;
  margin: 4px auto 0;
  font-size: 24px;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_item .service_txt {
  display: block;
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid #fff;
  -webkit-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_item,
#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_item a {
  width: 42px;
  height: 58px;
  text-align: center;
  color: #d1c4ae;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

#navigation .wrap .navigation-bbs .service .service_entry .service_list .service_frame_on {
  margin-top: -45px;
  display: inline-block;
}
