#top-nav{
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
}

#top-nav .wrap {
  height: 30px;
  line-height: 30px;
  color: #999;
}

#top-nav a {
  color: #999;
}

.fl li{
  float: left;
  margin-left: 200px;
}

.fl .iconfont {
  color: #f10215;
}

.fr{
  float: right;
}

#top-nav .register {
  color: #f10215;
}

.fr .iconfont {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

.top-nav-item li {
  float: left;
  list-style: none;
  padding-left: 7px;
  padding-right: 7px;
}

.top-nav-item li.refer-icon{
  padding-left: 7px;
  padding-right: 4px;
}

.top-nav-item li.spacer {
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  padding-left: 0;
  padding-right: 0px;
}

.fr li a:hover {
  color: #e33333;
}
